# Twitch API Credentials
TWITCH_CLIENT_ID=your_client_id_here
TWITCH_CLIENT_SECRET=your_client_secret_here

# Youtube API Credentials (Your Google Cloud API Key with Youtube Data API v3 enabled)
YOUTUBE_API_KEY=your_key_here